<div id="fourth-block">
    <div class="line">
      <div id="news-carousel" class="owl-carousel owl-theme">
        <div class="item">
          <h2>Amazing responsive template</h2>
          <p class="s-12 m-12 l-8 center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
        <div class="item">
          <h2>Responsive components</h2>
          <p class="s-12 m-12 l-8 center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
        <div class="item">
          <h2>Retina ready</h2>
          <p class="s-12 m-12 l-8 center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<%# section close tab above %>
<footer>
  <div class="line">
    <div class="s-12 l-6">
      <p>Copyright 2019, Vision Design - graphic zoo</p>
    </div>
    <div class="s-12 l-6">
      <p class="right">
        <a
          class="right"
          href="http://www.myresponsee.com"
          title="Responsee - lightweight responsive framework"
          >Design and coding by Responsee Team</a
        >
      </p>
    </div>
  </div>
</footer>
