<header>
  <nav>
    <div class="line">
      <!-- Mobile version of logo -->
      <div class="logo logo-small">
        <a href="/ejs/index">瀚 达 生 物</a>
      </div>

      <div class="top-nav">
        <div class="s-12 l-5">
          <ul class="right top-ul chevron">
            <li><a href="/ejs/index">站点首页</a></li>
            <li><a href="/ejs/product">产品信息</a></li>
            <li><a href="/ejs/services">技术服务</a></li>
          </ul>
        </div>
        <ul class="s-12 l-2">
          <li class="logo hide-s hide-m">
            <a href="/ejs/index" style="line-height: 2rem;">瀚达生物</a>
          </li>
        </ul>
        <div class="s-12 l-5">
          <ul class="top-ul chevron">
            <li><a href="/ejs/gallery">新闻动态</a></li>
            <li>
              <a>关于瀚达</a>
              <ul>
                <li><a>Company 1</a></li>
                <li><a>Company 2</a></li>
                <li>
                  <a>Company 3</a>
                  <ul>
                    <li><a>Company 3-1</a></li>
                    <li><a>Company 3-2</a></li>
                    <li><a>Company 3-3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/ejs/contact">联系我们</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<section>
